fastapi
uvicorn
google-cloud-firestore
google-cloud-kms
google-cloud-aiplatform==1.50.0
google-cloud-texttospeech
google-cloud-storage
firebase-admin
cryptography
pydantic
pydantic-settings
python-dotenv
dlt
litellm
langgraph
langchain
pandas
numpy
beautifulsoup4==4.12.3
requests>=2.32.3
google-genai
google-auth>=2.30.0
urllib3>=2.2.2
pyopenssl>=24.0.0
google-cloud-logging
google-cloud-run
duckduckgo-search
playwright==1.48.0
Pillow>=10.0.0
